newdummy/src/main/mule/newdummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0feb5e7c-dc8b-468d-a19e-4f3ddab800b0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="newdummyFlow" doc:id="090d2053-bb4f-405f-a47b-eaa3856602a5" >
		<http:listener doc:name="Listener" doc:id="e024c2a0-0e23-48a6-b352-5e1d5288a726" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["Hi! dummy"]' doc:name="Set Payload" doc:id="740096bf-3b6c-40d6-87ad-25580072014c" />
	</flow>
</mule>
